# .env.example
NODE_ENV=production
PORT=3000

DB_HOST=pharmacontrol-db.cvs06e6q2muu.us-east-2.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASS=your_db_password_here
DB_NAME=control

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
SERVICE_API_TOKEN=your_service_api_token_here
DB_MONGO_URI=your_mongo_db_uri_here